body{
    margin: 0;
    background-color:#f5e9ff;
}
a{
    color: #000;
}
.header{
    display:grid;
    background-color:#fff;
    margin-top:-20px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,1);
    position: absolute;
    width:100%;
    z-index: 3;
}
.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color:#fff;
    justify-self: end;
}

.header li a{
    display:grid;
    border-right: 1px solid black;
    padding:20px 20px;
    border-right:1px solid #aaa;
    text-decoration: none;
}
.header .header_logo{
    width: 300px;
    height:150px;
    justify-self: center;
    display:grid;
    padding:10px 20px;
    overflow:hidden;
    margin:-60px 0px -50px -60px;
    
}

.header li a:hover,
.header .header_menu-btn:hover{
    background-color: #f4f4f4;;
}
.header .header_menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .header_menu-icon{
    cursor:pointer;
    float:left;
    padding:28px 20px;
    position:relative;
    user-select: none;
    
}
main{
    width:100%
}

.header .header_menu-icon .header_nav-icon{
    background: #333;
    display:grid;
    height:2px;
    position:relative;
    transition: background .2s ease-out;
    width:18px;
    
}

.header .header_menu-icon .header_nav-icon:before{
    background: #333;
    content:"";
    display:block;
    height:100%;
    position:absolute;
    transition: all .2s ease-out;
    width:100%;
    top:5px;
}
.header  .header_menu-icon .header_nav-icon:after {
    background: #333;
    content:"";
    display:grid;
    height:100%;
    position:absolute;
    transition: all .2s ease-out;
    width:100%;
    top:-5px;
}

.header .header_menu-btn{
    display:none;
}

.header .header_menu-btn:checked ~ .header_menu {
    max-height: 280px;
}

.header .header_menu-btn:checked ~ .header_menu-icon .header_nav-icon {
    background: transparent;
}
footer{
    height:100px;
    padding:40px;
    background-color:#1a0841;
    display:grid;
    grid-template-columns:1fr 1fr;

}
footer a img{
    width:3rem;
    height:3rem;
    background-color: #eccfd1;
    border-radius: 50%;

}

.footer_follow{
    margin-left:0px;
    color:#fff;
}
.footer_contact{
   margin-left:15px;
   color:#fff;
   
}
.footer_contact a{
    color:#fff;
}
.main_pp{
    margin-top:100px;
    text-align: center;
    padding-bottom: 120px;
    padding-left:2rem;
    padding-right:2rem;
}

.main_pphoto{
    height:auto;
    width:80%;
    margin-top:160px;
    margin-left:2rem;
    border-radius: 5px;
}
.main_edu {
    padding-top : 150px;
    text-align : center;
    padding-right : 3rem;
    padding-left : 3rem;
}
.main_back{
    margin-top: 0px;
    padding-top: 30px;
    text-align: center;
    padding-right: 3rem;
    padding-left: 3rem;

}
.main_backimg img{
    height:350px;
    padding-top: 80px;
    padding-bottom: 50px;
    width:80%;
    margin-left:3rem;
}
.hobby_fun img,.hobby_fun video{
    height:350px;
    margin-left:2rem;
    margin-right: 1rem;
    width:85%;
    border-radius: 5px;
    
}
.hobby_fun figure{
    padding-top: 150px;
  
}
.hobby_fun p{
    text-align: center;
    margin-left: 2rem;
    margin-right: 3rem;
    padding-top: 1rem;
    
}
.hobby_voice{
    padding:3rem 3rem;
}
.hobby p{
    padding:3rem 7rem;
}
.hobby_fun figcaption{
    margin-top:0px;
}
.skill{
    padding-top:10rem;
    padding-left:1.5rem;
    padding-right:3rem;
    
    
}

p{
    text-align: justify;
}
.skill p{
    margin-right:10%;
    text-align: center;
    text-align: justify;
    font-family:sans-serif ;
}
.skill table{
    padding-top: 3rem;
    padding-bottom: 5rem;
    text-align: justify;
}
#btn{
    width:6rem;
    margin-top:1.5rem;
    margin-left: 9rem;
}

.quote{
    padding-bottom: 5rem;
}
main{
    text-align: center;
}


.cont{
    padding-bottom:27rem;
}


form{
    display:grid;
    width:65%;
    padding:50px;
    margin-left: 30px;


}
.cont_form_right,.cont_form_left{
    display:grid;
    height:130px;

}
form label{
    padding-bottom: 1rem;
    margin-top:10px;

}




@media  only screen and (min-width: 768px) and (max-width:1023px)  {
      
    .main_pphoto{
        height:600px;
        width:500px;
    }
    .main_pp p{
        text-align: center;
    }
    .main_backimg img{
        height:300px;
        width:320px;
    }
    form{
        justify-content: center;
        margin-left:10%;
    }
    .cont_form input{
        width:450px;
        height:20px;
            
    }
        
    #btn{
        margin-left: 40%;
    }
    .skill p{
        padding-left: 20px;
        font-family:sans-serif ;
    }
    table{
        margin-left:25%;
    }
    .hobby_hby img{
        width:300px;
        height:300px
    }
    .hobby_hby video{
        width:400px;
        height:400px;
    }
    .hobby_qoute{
        text-align: center;
    }

} 

@media only screen and (orientation: landscape) {
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .main_container{
            display:grid;
            grid-template-columns: 1fr 1fr;
    
        }
        .main_pp{
            text-align: center;
            padding-top:40%;
        }
        .main_pphoto{
            height:50%;
            width:70%;
            margin-left:15%;
            margin-bottom: 15%;
        }
        .main_backimg{
            display:grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom:5%;
        }
        .main_backimg img{
            height:350px;
            width:250px;
            padding-top:100px;
        }
        .cont_form{
            display:grid;
            grid-template-columns: 1fr 1fr;
        }
        .cont_form_right{
            padding-right:15%;
        }
        .cont_form_left{
            padding-left:15%
        }
        #btn{
            margin-left:40%
        }
        table{
            padding-left:30%
        }
        .hobby_hby{
            display:grid;
            grid-template-columns: 50% 50%;
            margin:0;
        }
        .hobby_hby img{
            height:140px;
            width:100px;
            margin-left: -35px;
            
            
        }
        .hobby_hby video{
            height:140px;
            width:100px;
            margin: 0;
        }
        .hobby_fun{
            display:grid;
            grid-template-columns: 30% 70%;
            margin:0;
            width:100%
        }
        .hobby_fun p{

            width:140px;
            margin-right:0;
            margin-left:-48px;
            padding-top:80%;

            
        }
        .hobby{
            padding-top:10%;
            margin-right:0;
            
        }
        body{
            overflow-x: hidden;

        }
        *{
            font-family:sans-serif ;

        }
        
    }
    

}

@media only screen and (min-width: 1024px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .header_menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .header_menu-icon {
      display: none;
    }
    .main_container{
        display:grid;
        grid-template-columns: 1fr 1fr;

    }
    .header .header_logo{
       justify-self: start;
    }
    .main_pp{
        text-align: center;
        padding-top:40%;
    }
    .main_pphoto{
        height:70%;
        width:70%;
        margin-left:15%;
        margin-bottom: 15%;
    }
    footer{
        padding-left:10%;
    }
    .footer_contact{
        margin-left:35%;
    }
    .footer_follow a{
        padding:2%;
    }
    .footer_follow h2{
        padding-left: 4%;
    }
    .main_edu{
        text-align: center;
        padding-left:20%;
        padding-right:20%;
    }
    .main_backimg{
        padding-top: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .main_back{
        padding-top:10%;
        padding-bottom: 25%;
    }
    .cont_form{
        display:grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 8%;
    }
    .main_quote{
        padding-bottom: 50px;
        padding-top: 20px;
    }
    form{
        padding-left: 15%;
        padding-top: 10%;
    }
    
    .cont_form_right{
        padding-right:20%;
        
    }
    .cont_form_left{
        padding-left: 20%;
    }
    .cont_form input{
        height:30px;
    }
    #btn{
        margin-left:40%;
    }
   .skill h3{
    padding-right: 25%;
   }
   .skill p{
    padding-top:3%;
    margin-right: 40%;
    margin-left:5%;
    font-family:sans-serif ;
   }
   table{
    margin-left:30%;
    padding-bottom: 5%;
   }

   .hobby_hby{
    display:grid;
    grid-template-columns: 1fr 1fr;
   }
   .hobby_fun{
    padding-top:10%;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin:0;
   }
   .hobby_fun p{
    padding-top:70%;
    width:100px;
    margin:0;
   }
   .hobby_qoute{
    text-align: center;
    
   }
   body{
    overflow-x: hidden;
   }
}

